.sidebarButtonLink {
    font-size: 20px;
    color: beige;
    /* background: rgba(25, 24, 47, 0.2); */
    padding: 20px 0;
}

.sidebarButtonLink > a:link{
    text-decoration:none;
    color:beige;
}

.sidebarButtonLink > a:visited{
    color:beige;
}
